.slider {
  width: 100px;
}

.slider > .dragger {
  background: #99ccff;
  background: -webkit-linear-gradient(top, #99ccff, #6699cc);
  background: -moz-linear-gradient(top, #99ccff, #6699cc);
  background: linear-gradient(top, #99ccff, #6699cc);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #496805;
  width: 12px;
  height: 12px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #99ccff, #336699);
}

.slider > .track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #ccc, #eee);
  background: -moz-linear-gradient(top, #ccc, #eee);
  background: linear-gradient(top, #ccc, #eee);

  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  border: 1px solid #aaa;
  height: 3px;
}